#main {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: max-content max-content 100fr;
  width: 1600px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

#result {
  grid-column-end: span 2;
}

body {
  margin: 15px 15px 15px 15px;
}

.card {
  margin: 6px 6px 6px 6px;
}

filter-result {
  --grid-columns: 93px 270px 50px 80px 50px 270px 30px 30px 1fr;
  --grid-rows: 29px 29px;
  --grid-areas:
      "elem name hp atk rcv aw turn inh sk"
      "type name  .   .   . sa    .   . sk";
}
