body {
  font-family:'メイリオ',Meiryo,'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','ＭＳ Ｐゴシック',sans-serif;
  margin: 15px 15px 15px 15px;
  background-color: black;
  color: #DDD;
}

.icon-checkbox > input {
  display: none;
}

label.icon-checkbox {
  display: inline-block;
  width: 24px;
  height: 24px;
  vertical-align: middle;
}

.icon-checkbox > input:not(:checked) + div {
  filter: grayscale(100%);
}

.icon-checkbox > input:disabled + div {
  cursor: not-allowed;
}

.toggle-checkbox > input {
  display: none;
}

.toggle-checkbox > input:checked ~ span:after {
  content: "toggle_on";
  color: rgb(84, 135, 229);
  vertical-align: middle;
}

.toggle-checkbox > input:not(:checked) ~ span:after {
  content: "toggle_off";
  vertical-align: middle;
}

.toggle-checkbox > input:disabled ~ * {
  cursor: not-allowed;
}

.radio > input {
  display: none;
}

.radio > input:checked ~ span:after {
  content: "radio_button_checked";
  color: rgb(84, 135, 229);
  vertical-align: middle;
}

.radio > input:not(:checked) ~ span:after {
  content: "radio_button_unchecked";
  vertical-align: middle;
}

.radio > input:disabled ~ * {
  cursor: not-allowed;
}

:host(.card), .card {
  background-color: #333333;
  margin: 6px 6px 6px 6px;
}

.card-title {
  background-color: #666666;
  padding: 6px 6px 6px 6px;
  font-weight: bold;
  line-height: 24px;
  color: rgb(226, 226, 226);
}

.card-body {
  background-color: #333333;
  padding: 6px 6px 6px 6px;
}

span.material-icons {
  color: rgb(154, 154, 154);
  font-weight: normal;
  font-size: 20px;
  cursor: pointer;
}

input[type=text], input[type=number], select, option {
  background-color: rgb(33, 33, 33);
  color: rgb(226, 226, 226);
  border: none;
}

optgroup {
  background-color: #333333;
  color: rgb(226, 226, 226);
  border: none;
}

a {
  font-family: inherit;
  color: inherit;
  text-decoration: inherit;
}

.grid-two-col {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-column-gap: 0.5rem;
  width: 1600px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}
